services:
  postgresql:
    image: postgres:13.22-alpine
    ports:
      - "5432:5432"
    env_file:
      - ../.env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d chat_app"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - data-network
    restart: always

  mongodb:
    image: mongo:4.4
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping')"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    networks:
      - data-network
    restart: always
