services:
  nginx:
    image: fala-blau-nginx:latest
    build:
      context: ../nginx
      dockerfile: ./docker/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - kong
      - keycloak
      - rabbitmq
    networks:
      - frontend-network
    restart: always

  kong:
    image: fala-blau-kong:latest
    build:
      context: ../kong
      dockerfile: ./docker/Dockerfile
    ports:
      - "8000:8000"
      - "8443:8443"
    depends_on:
      - user-service
      - chat-service
      - websocket-service
    networks:
      - frontend-network
      - backend-network
    restart: always

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.2
    ports:
      - "8080:8080"
    depends_on:
      - user-service
    env_file:
      - ../.env
    command: ["start", "--proxy-headers", "forwarded"]
    networks:
      - frontend-network
      - backend-network

  user-service:
    image: fala-blau-users-api:latest
    build:
      context: ../microservices/users-service
      dockerfile: ./docker/Dockerfile
    ports:
      - "3001:3001"
    depends_on:
      postgresql:
        condition: service_healthy
    env_file:
      - ../.env
    networks:
      - backend-network
      - data-network

  chat-service:
    image: fala-blau-chats-api:latest
    build:
      context: ../microservices/chat-service
      dockerfile: ./docker/Dockerfile
    ports:
      - "3002:3002"
    depends_on:
      - mongodb
    env_file:
      - ../.env
    networks:
      - backend-network
      - data-network

  postgresql:
    image: postgres:13.22-alpine
    env_file:
      - ../.env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d chat_app"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - data-network
    restart: always

  websocket-service:
    image: fala-blau-socketio-api:latest
    build:
      context: ../microservices/websocket-service
      dockerfile: ./docker/Dockerfile
    ports:
      - "3003:3003"
    depends_on:
      rabbitmq:
        condition: service_healthy
    env_file:
      - ../.env
    networks:
      - backend-network
      - data-network

  mongodb:
    image: mongo:8.2.1-noble
    volumes:
      - mongo-data:/data/db
    networks:
      - data-network
    restart: always

  rabbitmq:
    image: rabbitmq:4.2.0-management-alpine
    ports:
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - frontend-network
      - data-network
    restart: always

networks:
  frontend-network:
  backend-network:
  data-network:

volumes:
  postgres-data:
  mongo-data: