services:
  kong:
    container_name: kong
    image: fala-blau-kong:latest
    build:
      context: ../kong
      dockerfile: ./docker/Dockerfile
    ports:
      - "8000:8000"
      - "8443:8443"
    depends_on:
      - user-service
      - chat-service
      - websocket-service
    networks:
      - frontend-network
      - backend-network
    restart: always