services:
  # nginx:
  #   image: nginx:1.29.3-alpine
  #   ports:
  #     - "80:80"
  #   volumes:
  #     - ../nginx/nginx.conf:/etc/nginx/nginx.conf
  #   networks:
  #     - app-network
  #   restart: always

  kong:
    image: kong:3.9.1
    ports:
      - "8000:8000"
      - "8443:8443"
    environment:
      KONG_DATABASE: 'off'
      KONG_DECLARATIVE_CONFIG: /etc/kong/kong.yaml
    volumes:
      - ../kong/kong.yaml:/etc/kong/kong.yaml
    depends_on:
      - user-service
      - chat-service
      - websocket-service
    networks:
      - app-network
    restart: always

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.2
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_PROXY: edge
      KC_HOSTNAME: localhost
      KC_HTTP_ENABLED: 'true'
    command: start-dev
    networks:
      - app-network

  user-service:
    build:
      context: ../microservices/users-service
    ports:
      - "3001:3001"
    depends_on:
      postgresql:
        condition: service_healthy
    environment:
      DATABASE_URL: "postgresql://user:pass@postgresql:5432/chat_app"
    networks:
      - app-network

  chat-service:
    build:
      context: ../microservices/chat-service
    ports:
      - "3002:3002"
    depends_on:
      - mongodb
    environment:
      - MONGODB_URL=mongodb://mongodb:27017/chat_app
    networks:
      - app-network

  websocket-service:
    build:
      context: ../microservices/websocket-service
    ports:
      - "3003:3003"
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
    networks:
      - app-network

  postgresql:
    image: postgres:13.22-alpine
    environment:
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "pass"
      POSTGRES_DB: "chat_app"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d chat_app"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network
    restart: always


  mongodb:
    image: mongo:8.2.1-noble
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network
    restart: always

  rabbitmq:
    image: rabbitmq:4.2.0-management-alpine
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network
    restart: always

networks:
  app-network:

volumes:
  postgres-data:
  mongo-data: