services:
  loki:
    image: grafana/loki:2.9.0
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - observability-network
    restart: always

  promtail:
    image: grafana/promtail:2.9.0
    volumes:
      - ../observability/promtail/config.yml:/etc/promtail/config.yml
      - ../observability/logs:/var/log/services
    networks:
      - observability-network
    restart: always
    depends_on:
      - loki
      - nginx

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
    env_file:
      - ../.env
    networks:
      - observability-network
    depends_on:
      - loki
    restart: always